:root {
    --black: #000000;
    --white: #ffffff;
    --aqwa: #069d8e;
    --pink: #ffccbc;
    --grey: #d3e3fc;
    --blue: #77a6f7;
    --red: #e20e0e;
  }

.sources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    height: auto;
    align-items: flex-start;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white);
    border: 1px solid var(--aqwa);
    background-color: var(--aqwa);
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    padding: 7px;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.2em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media (min-width: 320px) {
    .sources {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 50%;
        height: auto;
        align-items: flex-start;
        font: 300 0.7em 'Fira Sans', sans-serif;
    }
    
    .source__item {
        width: 200px;
        border-radius: 5px;
        cursor: pointer;
        color: var(--white);
        border: 1px solid var(--aqwa);
        background-color: var(--aqwa);
        font-weight: 500;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        padding: 7px;
        margin-bottom: 2px;
    }
    
    .source__item:hover,
    .source__item:focus {
        border-color: #3fcc59;
        color: #69db7e;
        box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
        transform: translateY(-0.2em);
    }
    
    .source__item-name {
        font-weight: 400;
        white-space: nowrap;
    }
    
}